* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contacts {
    height: 100vh;
    width: 35%;
    float: left;
    background-color: grey;
}
.messages-chat {
    height: 100vh;
    width: 65%;
    float: left;
    background-color: blue;
}

.myavatar-bar {
    width: 100%;
    height: 100px;
}

.myavatar-left {
    float: left;
    width: 20%;
    height: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myavatar-left img {
    width: 50%;
    object-fit: cover;
}


.myavatar-right {
    float: left;
    width: 80%;
    height: 100%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.myavatar-right i {
    font-size: 1.7em;
    padding: 0px 10px;
}

.search-conversations {
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-conversations button {
    width: 10%;
    padding: 10px;
}

.search-conversations input {
    width: 85%;
    padding: 10px;
}
