* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.contacts {
    height: 100vh;
    width: 35%;
    float: left;
    background-color: grey;
}
.messages-chat-container {
    height: 100vh;
    width: 65%;
    float: left;
    background-color: blue;
}

.myavatar-bar {
    width: 100%;
    height: 100px;
}

.myavatar-left {
    float: left;
    width: 20%;
    height: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myavatar-left img {
    width: 50%;
    object-fit: cover;
}

.myavatar-right {
    float: left;
    width: 80%;
    height: 100%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.myavatar-right i {
    font-size: 1.7em;
    padding: 0px 10px;
}

.search-conversations {
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-conversations button {
    width: 10%;
    padding: 10px;
}

.search-conversations input {
    width: 85%;
    padding: 10px;
}

.container-conversations-list {
    height: 787px;
    overflow-y: scroll;
}

#conversations-list li {
    height: 80px;
}

.prev-contact-chat {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.right-prev-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-avatar {
    width: 80px;
    height: 80px;
}

#notice-list-chat {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.conversation-headerbar {
    width: 100%;
    height: 100px;
}

.conversation-headerbar-left {
    float: left;
    width: 50%;
    height: 100%;
    background-color: green;
}

.conversation-headerbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: left;
    height: 100%;
    width: 50%;
    background-color: pink;
}

.conversation-headerbar-right i {
    padding: 10px;
}

.messages-right, .messages-left {
    clear: both;
}

.content-message {
    max-width: 300px;
    border-radius: 6px;
    padding: 12px;
}

.messages-received {
    background-color: white;
    margin-left: 30px;
    border: 1px solid grey;
    float: left;
    clear: both;
}

.messages-sent {
    margin-right: 30px;
    background-color: lightgreen;
    float: right;
    clear: both;
}

.messages-single-chat {
    height: 737px;
    width: 100%;
    overflow-y: scroll;
}

.new-message {
    width: 100%;
    height: 100px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smiles {
    width: 10%;
}

.smiles i {
    font-size: 2.0em;
}

.type-text-new-message {
    width: 70%;
}

.type-text-new-message input {
    width: 89%;
    padding: 20px;
}

.type-text-new-message button {
    width: 10%;
    padding: 20px;
}
