* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.contacts {
    height: 100vh;
    width: 35%;
    float: left;
    background-color: #FFFFFF;
}

.messages-chat-container {
    height: 100vh;
    width: 65%;
    float: left;
    background-image:url(https://i.pinimg.com/originals/85/70/f6/8570f6339d3189c96e340d47a581d3b8.jpg);
}

.myavatar-bar {
    width: 100%;
    height: 70px;
    background-color: #EAEAEA;
    border-bottom: 1px solid  #dbd6d2;
    border-top: 1px solid  #dbd6d2;
}

.myavatar-left {
    float: left;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myavatar-left img {
    width: 45%;
    object-fit: cover;
}

.myavatar-right {
    float: left;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.myavatar-right i {
    font-size: 1.4em;
    padding: 0px 10px;
    color: #B2B2B4;
}

.search-conversations {
    width: 100%;
    height: 50px;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-conversations button {
    width: 10%;
    padding: 10px;
    border-width: 0;
    border: 1px solid #F5F5F5;
}

.search-conversations input {
    width: 85%;
    padding: 10px;
    border-width: 0;
    border: 1px solid #F5F5F5;
}

.container-conversations-list {
    height: 817px;
    overflow-y: scroll;
    cursor: pointer;
}

#conversations-list li {
    height: 80px;
}

.prev-contact-chat {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    border-top: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
}

.true {

}

.no-more-conversations {
    font-family: 'Roboto', sans-serif;
    color: #65727a;
}

.right-prev-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.right-prev-chat p {
    font-size: 0.8em;
    color: lightgrey;
}

.img-avatar {
    width: 80px;
    height: 80px;
}

#notice-list-chat {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.conversation-headerbar {
    width: 100%;
    height: 70px;
    background-color: #EAEAEA;
    border: 1px solid #dbd6d2;
}

.conversation-headerbar-left {
    float: left;
    width: 50%;
    height: 100%;
}

.conversation-headerbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: left;
    height: 100%;
    width: 50%;
}

.conversation-headerbar-right i {
    padding: 10px;
    color: #B2B2B4;
    font-size: 1.4em;
}

.messages-right, .messages-left {
    clear: both;
}

.content-message {
    max-width: 300px;
    border-radius: 6px;
    padding: 12px;
}

.received {
    background-color: white;
    margin-left: 30px;
    border: 1px solid grey;
    float: left;
    clear: both;
}

.sent {
    margin-right: 30px;
    background-color: lightgreen;
    float: right;
    clear: both;
}

.container-messages-single-chat {
    height: 767px;
    width: 100%;
    overflow-y: scroll;
}

.new-message {
    width: 100%;
    height: 100px;
    background-color: #F3EEEA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smiles {
    width: 10%;
}

.smiles i {
    font-size: 2.0em;
    color: #65727A;
    cursor: pointer;
}

.type-text-new-message {
    width: 70%;
}

.type-text-new-message input {
    width: 89%;
    padding: 20px;
    border-width: 0;
    border: 1px solid #F5F5F5;
}

.type-text-new-message button {
    width: 10%;
    padding: 20px;
    border-width: 0;
    border: 1px solid #F5F5F5;
    cursor: pointer;
}

.type-text-new-message button i {
    color: #65727A;
    font-size: 1.5em;
}
